.mainContainer {
  width: 100%;
  height: 100vh;
}

.navMenu {
  width: 100%;
  height: 100px;
}

.navMenu ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
}

.navMenu ul li {
  flex: 1;
  height: 100%;
  cursor: pointer;
  transition: background 0.15s;
}

.navMenu ul li:hover{
  background: rgba(255, 255, 255, 0.25);
}

.navMenu ul li a{
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navMenu ul li a i{
  font-size: 3rem;
  margin: 1.5rem;
}